<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>KST EAI Monitoring System</title>
<link rel="stylesheet" data-th-href="@{/vendor/bootstrap/fontawesome-free/css/all.min.css}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<link rel="stylesheet" data-th-href="@{/vendor/bootstrap/sb-admin-2/sb-admin-2.min.css}" />
<link rel="stylesheet" data-th-href="@{/css/global.css}" />
<script defer type="text/javascript" data-th-src="@{/vendor/jquery/jquery-3.5.1.min.js}"></script>
<script defer type="text/javascript" data-th-src="@{/vendor/bootstrap/bootstrap.bundle.min.js}"></script>
<script defer type="text/javascript" data-th-src="@{/vendor/jquery/jquery.easing.min.js}"></script>
<script defer type="text/javascript" data-th-src="@{/vendor/bootstrap/sb-admin-2/sb-admin-2.min.js}"></script>
</head>
<body>
	<div data-layout-fragment="content"></div>
</body>
</html>