<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout/layout-all.html}">
<head>
<script defer type="text/javascript" data-th-src="@{/js/monitor-list.js}"></script>
</head>
<div class="container-fluid" data-layout-fragment="content">
	<div class="d-flex mb-4 align-items-center">
		<h1 class="h3 mr-auto mb-0">모니터링</h1>
<!-- 		<select id="refreshTime" class="mr-1"> -->
<!-- 			<option value="60" data-th-selected="${time == '60'}">1분</option> -->
<!-- 			<option value="120" data-th-selected="${time == '120'}">2분</option> -->
<!-- 			<option value="180" data-th-selected="${time == '180'}">3분</option> -->
<!-- 			<option value="300" data-th-selected="${time == '300'}">5분</option> -->
<!-- 			<option value="600" data-th-selected="${time == '600'}">10분</option> -->
<!-- 		</select> -->
<!-- 		<a href="#" class="btn btn-sm btn-primary" id="btn-refresh">새로고침</a> -->
	</div>
	<div class="card shadow">
		<div class="card-header bg-gray-700">
			<h6 class="m-0 font-weight-bold text-white">보고서 송수신 내역</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered text-xs" id="data-table">
					<thead class="bg-gray-700 text-white">
						<tr>
							<th>메세지 ID</th>
							<th>송수신유형</th>
							<th>문서번호</th>
							<th>송신시스템</th>
							<th>수신시스템</th>
							<th>문서종류</th>
							<th>상태</th>
							<th>처리일시</th>
							<th>처리시간(초)</th>
						</tr>
					</thead>
<!-- 					<tfoot> -->
<!-- 						<tr> -->
<!-- 							<th>메시지 ID</th> -->
<!-- 							<th>송수신유형</th> -->
<!-- 							<th>문서번호</th> -->
<!-- 							<th>송신시스템</th> -->
<!-- 							<th>수신시스템</th> -->
<!-- 							<th>문서종류</th> -->
<!-- 							<th>상태</th> -->
<!-- 							<th>처리일시</th> -->
<!-- 							<th>처리시간(초)</th> -->
<!-- 						</tr> -->
<!-- 					</tfoot> -->
					<tbody class="text-gray-900">
						<tr data-th-each="num : ${#numbers.sequence(1,1000)}">
							<th data-th-text="${numStat.count}"></th>
							<th data-th-text="${'송수신유형' + numStat.count}"></th>
							<th data-th-text="${'문서번호' + numStat.count}"></th>
 							<th data-th-text="${'송신시스템' + numStat.count}"></th>
 							<th data-th-text="${'수신시스템' + numStat.count}"></th>
 							<th data-th-text="${'문서종류' + numStat.count}"></th>
 							<th data-th-text="${'상태' + numStat.count}"></th>
 							<th data-th-text="${'처리일시' + numStat.count}"></th>
 							<th data-th-text="${'처리시간(초)' + numStat.count}"></th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</html>