<html xmlns:th="http://www.thymeleaf.org" data-layout-decorate="~{layout/layout.html}">
<head>
<script defer type="text/javascript" data-th-src="@{/js/boardList.js}"></script>
</head>
<main data-layout-fragment="content">
	<div class="container">
		<h1 class="h3 mr-auto pt-5">리스트</h1>
		<table class="table table-dark table-hover">
			<thead>
				<tr>
					<th scope="col">번호</th>
					<th scope="col">글쓴이</th>
					<th scope="col">제목</th>						
					<th scope="col">작성일</th>						
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="vo : ${list}" data-th-attr="data-bno=${vo.bno}" data-th-if="${voStat.size > 0}">
					<td scope="row" data-th-text="${voStat.count}"></td>
					<td data-th-text="${vo.bname}"></td>
					<td data-th-text="${vo.bsubject}"></td>
					<td data-th-text="${vo.breg_dt}"></td>
				</tr>
				<tr data-th-if="${list.size() == 0}"><td colspan="4" class="text-center">조회된 데이터가 없습니다</td></tr>
			</tbody>
			<tfoot>
				<th colspan="4" class="text-center">
					<a data-th-href="@{/board/add}"><button type="submit" class="btn btn-info">글쓰기</button></a>
				</th>
			</tfoot>
		</table>
	</div>
</main>
</html>