<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" data-th-fragment="sidebar">
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
		<div class="sidebar-brand-text mx-3">KST Solution</div>
	</a>
	<hr class="sidebar-divider">
	<div class="sidebar-heading">ADMIN</div>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#setting" aria-expanded="true" aria-controls="setting">
			<i class="fas fa-fw fa-cog"></i> <span>관리자설정</span>
		</a>
		<div id="setting" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">관리자설정:</h6>
				<a class="collapse-item" data-th-href="@{/admin/user/list}">사용자 정보</a>
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#code" aria-expanded="true" aria-controls="code">
			<i class="fas fa-fw fa-cog"></i> <span>공통코드관리</span>
		</a>
		<div id="code" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">코드관리:</h6>
				<a class="collapse-item" href="#">카테고리 관리</a>
				<a class="collapse-item" href="#">코드 관리</a>
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#add-ons" aria-expanded="true" aria-controls="add-ons">
			<i class="fas fa-fw fa-cog"></i> <span>부가기능</span>
		</a>
		<div id="add-ons" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">접속통계</h6>
				<a class="collapse-item" href="#">접속이력조회</a>
			</div>
		</div>
	</li>
	<hr class="sidebar-divider">
	<div class="sidebar-heading">MENU</div>
	<li class="nav-item">
		<a class="nav-link" data-th-classappend="${baseUri == '/monitor' ? '' : 'collapsed'}" href="#" data-toggle="collapse" data-target="#monitoring" data-th-attr="aria-expanded=${baseUri == '/monitor' ? 'false' : 'true'}" aria-controls="monitoring">
			<i class="fas fa-fw fa-address-card"></i> <span>모니터링</span>
		</a>
		<div id="monitoring" class="collapse" data-th-classappend="${baseUri == '/monitor' ? 'show' : ''}" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">모니터링:</h6>
				<a class="collapse-item" data-th-classappend="${uri == '/monitor/main' ? 'active' : ''}" data-th-href="@{/monitor/main}">모니터링</a>
				<a class="collapse-item" data-th-classappend="${uri == '/monitor/list' ? 'active' : ''}" data-th-href="@{/monitor/list}">보고서 송수신 내역</a>
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#interface" aria-expanded="true" aria-controls="interface">
			<i class="fas fa-fw fa-address-card"> </i > <span>인터페이스</span>
		</a>
		<div id="interface" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">인터페이스관리:</h6>
				<a class="collapse-item" href="#">인터페이스관리</a>
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#certification" aria-expanded="true" aria-controls="certification">
			<i class="fas fa-fw fa-address-card"> </i> <span>인증서관리</span>
		</a>
		<div id="certification" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">인증서관리:</h6>
				<a class="collapse-item" href="#">인증서변경이력</a>
				<a class="collapse-item" href="#">인증서등록</a>
			</div>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mypage" aria-expanded="true" aria-controls="mypage">
			<i class="fas fa-fw fa-address-card"> </i> <span>마이페이지</span>
		</a>
		<div id="mypage" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">마이페이지:</h6>
				<a class="collapse-item" href="#">내 정보 관리</a>
			</div>
		</div>
	</li>
	<hr class="sidebar-divider d-none d-md-block">
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>